body {
    background-color: #0f0f0f;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #f0f0f0;
}
